* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}
header nav {
  background-color: dimgray;
}
.pokebola {
  width: 100px;
}
.pokedex {
  height: auto;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  align-items: center;
  justify-items: center;
  width: 80%;
  margin: auto;
}
.pokemon-image h1 {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-bottom: 50px;
  border-radius: 25px;
  width: 300px;
}

.pokemon-image img {
  width: auto;
  height: auto;
}

.pokemon-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  align-content: space-around;
  justify-items: center;
  background-color: white;
  margin-bottom: 50px;
  border-radius: 25px;
  width: 500px;
  height: 500px;
}
.pokemon-details p {
  justify-content: flex-start;
  padding: 20px;
}

footer {
  background-color: dimgrey;
  padding: 40px;
}
.other-pokemon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.other-pokemon img {
  background-color: grey;
  border-radius: 25px;
  width: auto;
  height: 200px;
}
